# Application manager configuration file:
# This required file contains the configuration for the applications manager,
# you should copy this file to config.env and change the values to your needs.

# Global Configuration:
APPLICATIONS_MANAGER_FOLDER_DIR=/home/toor/applications-manager
APPLICATIONS_FOLDER_DIR=$APPLICATIONS_MANAGER_FOLDER_DIR/applications
LINK_FOLDER_DIR=/usr/local/bin

# Linker configuration:
APPLICATIONS_COMMAND_EXTENSION=.amc

# Manager configuration:
MONITORING_FOLDER_DIR=$APPLICATIONS_FOLDER_DIR
